/*** imports ***/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

/* variables */

$color-primary: #209cee;
$color-good: #47ad22;
$color-bad: #e81123;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #969696;

/*** global settings ***/

* {
  font-family: 'Montserrat', sans-serif;
}

[v-cloak] {
  opacity: 0;
}

.app-container {
  margin: 0 auto;
  max-width: 300px;
}

.app-table {
  td {
    padding: 0 0 8px 0;
  }
}

table {
  margin-left: -27px;
}

/*** form inputs ***/

input {
  border-radius: 3px;
  border-width: 1px;
  box-sizing: border-box;
  padding: 12px;
}

input[type='text'] {
  width: 160px;
}

input[type='number'] {
  appearance: textfield;
  width: 80px;
}

/*** fonts  ***/

h2,
h3 {
  color: $color-primary;
}

.text-400 {
  font-weight: 400;
}

.text-600 {
  font-weight: 600;
}

.negative {
  color: $color-bad;
}

.total {
  margin: 0;
}

/*** buttons ***/

.btn {
  background-color: $color-primary;
  border: none;
  border-radius: 3px;
  color: $color-white;
  font-weight: 600;
  margin-left: 2px;
  margin-top: 5px;
  padding: 12px;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: darken($color-primary, 10);
    cursor: pointer;
  }
}

.btn-close {
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: $color-bad;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  margin: 0 5px;
  padding: 0;
  transform: rotate(45deg);
  transition: background-color 0.3s;
  width: 40px;

  &:hover,
  &:focus {
    background-color: lighten($color-bad, 10);
    color: $color-white;
    cursor: pointer;
  }
}

.btn--primary {
  background-color: lighten($color-primary, 15);
  &:hover,
  &:focus {
    background-color: $color-primary;
  }
}

.btn--primary-dark {
  background-color: darken($color-primary, 15);

  &:hover,
  &:focus {
    background-color: $color-good;
  }
}

.btn-group {
  padding-bottom: 25px;
  position: relative;
}

.btn-group-alert {
  bottom: 0;
  color: darken($color-good, 10);
  position: absolute;
}

.icon-drag {
  path {
    fill: $color-lightgrey;
  }

  &:hover {
    cursor: move;
  }
}

/*** animations ***/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadein;
  animation-duration: 0.5s;
}

