<html>
    <head>
        <title>Budget Calculator</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <div id="app" v-cloak>
        <h2>Budget Calculator</h2>
        <p v-if="!Items.length">Add some items!</p>
        
        <div v-if="showErrors">Something is wrong:</div>
        <table>
            <tr v-for="(Item, index) in Items" :key="item" :data-index="index">
            <td><input type="text" placeholder="budget item" v-model="Item.title"></td>
            <td><input type="number" step=".01" min="0.00" placeholder="0" :class="Item.cost < 0? 'negative':''" v-model.number="Item.cost"></td>
            <td><button @click="removeItem(index)">X</button></td> 
            </tr>
        </table>
        
        <button @click="addItem">add Budget Item</button>&nbsp;
        <button @click="saveBudget">Save</button>
        <div v-if="saveAlert">budget saved!</div>
        
        <div><br><strong>Total: <span :class="total < 0? 'negative':''">{{ calcTotal }}</span>
        </strong></div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="assets/js/scripts.min.js"></script>
    </body>
</html>